/* You can add global styles to this file, and also import other style files */
@import "_variables.scss";
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}

.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: .875em;
  color: #dc3545;
}